@import "~bootstrap/dist/css/bootstrap.min.css";

.resultado {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.resultado span {
  margin: 5px;
  white-space: pre;
}
